/* .res-card{
    display: flex; 
    width:250px;
    padding:5px;
}
.res-card-container{
    display:flex;
    flex-wrap: wrap;
    gap:10px;
}
 
.res-card:hover {
    cursor: pointer;
    border:black solid;
}

.img-logo {
    width:100%; 
    aspect-ratio: 1;  
}
.text {
    overflow: hidden;
    text-overflow: ellipsis;
} */
